.header {
    height: 5rem;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 25px 100px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15rem;
  }

  .crypto{
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-right: 2rem;
    color: #ffff;
  }

  .leftSection{
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: #ffff;
  }

  .graficos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid #020202;
    border-radius: 0.6rem;
    width: 5.5rem;
    height: 2rem;
    text-decoration: none;
    color: #ffff;
  }
  .graficos:hover{
    transition: 0.5s;
    background-color: #e5ff0042;
    border: 1px solid #e5ff00c7;
    box-shadow: 0 0 14px 0 rgba(229, 255, 0, 0.356);

  }


/* mobile */
@media (max-width: 450px) {
    .main {
      flex-direction: column;
    }
  
    .logo {
      margin-left: 0;
    }
  
    .header {
      background: rgba(255, 255, 255, 0.08);
      box-shadow: 0px 25px 100px rgba(0, 0, 0, 0.25);
      /* position: relative;
      left: 0;
      transition: all .3s;
      animation-iteration-count: infinite;
      animation-name: headermovies;
      animation-direction: ease-in-out;
      animation-duration: 10s; */
    }
/*   
    @keyframes headermovies {
      0% {
        left: -100%;
      }
      50% {
        left: 100%;
      }
      100% {
        left: -100%;
      }
    } */
  }